body {
  background: #E2E4E7;
  font-family: 'Noto Sans', sans-serif;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

section {
  clear: both;
}

section > div {
  background-color: rgba(200, 200, 200, 0.5);
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
}

h1 {
  font-size: 3em;
  font-weight: 700;
  color: white;
  text-shadow: #808080 2px 2px 2px;
  margin-bottom: 0.5em;
}

nav ul {
  list-style: none;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 5;
}

nav ul a {
  display: block;
  background-color: #808080;
  color: #000000;
  text-decoration: none;
  padding: 5px 20px 5px 5px;
}

nav ul a.active {
  background-color: #A0A0A0;
}

nav ul a:hover, nav ul a:focus {
  background-color: #C0C0C0;
}

aside.social {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 5
}

aside.language {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 5
}

aside a {
  color: white;
  text-shadow: #808080 2px 2px 2px;
}

#home {
  background: url(../images/Skyline_Frankfurt_am_Main.jpg) no-repeat 38% 68%;
}

#home > div {
  background-color: transparent;
  float: right;
  position: relative;
  top: 20%;
  right: 10%;
}

#home > div > p {
  color: white;
  text-shadow: #505050 3px 3px 3px;
  font-size: 1.5em;
  margin: 2px;
  text-align: right;
}

#gmap {
  height: 50%;
  margin: 0;
  padding: 0;
}
